// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";

.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.my_container {
  background-color: white;
  display: flex;
  align-item: space-between;
}

.my_card {
  margin-top: 200px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4);
  margin: 50px 20px;
  border-radius: 5px;
  border: 3px, solid, white;
  .random-img {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;

  }
  .btn {
    margin-top: 30px;
    margin-bottom: 50px;
  }
}

.footer {
  background: white;
  box-shadow: 2px 0px 0px rgba(0,0,0,0.3);
  display: flex;
  align-items: left;
  justify-content: space-between;
  height: 50px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  position: sticky;
  left: 0;
  bottom: 0;
}
.footer .fa-heart {
  color: #D23333;
}
