

<div class="banner" style="background-image: url(<%= image_path 'background-img2.jpg' %>)">
  <div class="banner-content">
<!--     <span id="banner-typed-text"></span> -->
    <h1>What do you want to drink?</h1>
    <%= link_to "Now!", cocktails_path, class: "btn btn-success btn-lg" %>
  </div>
</div>
